### **Lets Grow more**
### **Data Science Internship(JAN-2023)**
### [Task:Music Recommendation System](https://www.canva.com/design/DAEjrwWV35w/-gxHUkJMO1Zr4pYVVpOYcg/view?utm_content=DAEjrwWV35w&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton#1)
### **Aman Gupta**

[Data-Set Link](https://www.kaggle.com/c/kkbox-music-recommendation-challenge/data)

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Reading the dataset
members = pd.read_csv(r"C:\Users\Aman\Data science course\lets_grow_more\members.csv")
submission = pd.read_csv(r"C:\Users\Aman\Data science course\lets_grow_more\sample_submission.csv",nrows=20000)
songs_info = pd.read_csv(r"C:\Users\Aman\Data science course\lets_grow_more\song_extra_info.csv")
songs = pd.read_csv(r"C:\Users\Aman\Data science course\lets_grow_more\songs.csv",nrows=20000)
train = pd.read_csv(r"C:\Users\Aman\Data science course\lets_grow_more\train.csv",nrows=20000)
test = pd.read_csv(r"C:\Users\Aman\Data science course\lets_grow_more\test.csv")

In [3]:
members.sample(5)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
26211,hwfES3yEsSoELKhCtIlzhxJzArdJMJcj+eTgsHSLbWs=,1,0,NaN,7,20151018,20171002
3883,sMmZDbKl9FrN9Z9hQcafBuOf0lRbnS4RhfYUAN3+Zm4=,5,41,female,4,20161122,20170617
20610,pXCvsqZFE0nbSjFUCD5d4zQb1xjYR0PNGkzZaa57ZtI=,5,19,female,3,20170108,20170206
5382,z24tOPgHtSKAL1C8fZGA+UaqHITV4CXzROrlnrApBds=,1,0,NaN,7,20150923,20170922
6239,apTQNG1FZX1LfH8k2QjpWZzMj35G+3SPygXb3SK7Mao=,22,18,male,4,20151119,20160724

In [4]:
submission.sample(5)

          id  target
9148    9148     0.5
13320  13320     0.5
7626    7626     0.5
19931  19931     0.5
12544  12544     0.5

In [5]:
songs_info.sample(5)

,song_id,name,isrc
1388282,g0Iu43W9Lp8YNokH7UqeDPnkHdr5aK9lv7Dsw4bW8hc=,Stella By Starlight,DEPZ69179019
1726060,b+4ud2DbLDnOGLV5eyhPxDavT0ar54DhxEqjFagbrd8=,Galpeador contra el viento (Blocktreat Remix),USCCW1410437
79699,Rx+t4I8+Dn+aNMFleMElkI5Bj8MgAGpjFXHSEczOGio=,Amarantine (永恆之約),NaN
669089,1hZTIAo5PBCuPjG3SPnAs1zEo38z8x/wb8mg++Pq+ZU=,Thoughtless,USSM10210763
360551,Wv8N6ZMfsc/0uuasV5iTzX0H+51wSK2BdOmedzKew28=,WHEN WE WERE YOUNG,NaN

In [6]:
songs.sample(5)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
10824,Xuplg7JqyQFG35IPlTQiOftMdj62TJC+Uq0B2N364eI=,241673,465,Energy,Seung-Hwan Yoon| Kyung-Jin Park,NaN,3.0
17086,eP3o+Ho65s5VirmmFW66AWLUArbCrMxJ20n3moMNQ54=,153391,1138,Carlos Di Sarli,NaN,NaN,-1.0
12636,AyI3xuR8CG/7k1YUE9ua8k4AQr0sHIScDcbh13ZopWM=,250671,465,汪定中,汪定中,汪定中,3.0
12771,l5+zD45FP1BL55XVEm28VmS3K4yIK7mBgTo4TTq4E3w=,205775,465,Westlife,NaN,NaN,52.0
13256,cJlk/Tw+Ahw8IFk5vrlM7eYM8kygzN8p3c9thljNJSY=,232176,465,楊榮輝,陳明陽,陳明陽,10.0

In [7]:
train.sample(5)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
2648,V5U4EGk2kaSKaUGSwhU6g3HBefxflEvAy1vWPu6UBQs=,TvEjF60l3jrl6OV5p4MgzKFSq2ZA9H3vRJoIwcfxuPA=,my library,Local playlist more,local-library,1
6760,Bnnn/NpDseC9Yt/gpXUnhHrYWMDHIvIpWWa6HUGmk4M=,89TC7xtZEynKQ+wsDI6NXswgZfbEUOWlQPuZbUNsafQ=,my library,My library,local-playlist,1
11990,vV+RMnzML8PwUTm2mcRajBbKVks896F2YVI25VwoQkY=,9W/H8tPBKQ7VWmBctuQ6RabciYdr1l+/kg1YPDcPOlU=,my library,Local playlist more,local-library,1
19196,yRUeFRBTDaaNicWahr/5guI/v5It0nENN/svLc3P+gw=,aH2HcECcVs1FsKD749ZWPxkh2Cx/gI9SOzg56HA1LjQ=,my library,Local playlist more,local-library,1
8233,CVohnxVk40BMdDw2bsyAj2KXK3ob8GZRi24mFiU7pWY=,OakhL7CLirelAGEP9sYyP6fmTa8HV1mD/qVdpM6o5uE=,my library,NaN,local-library,1

In [8]:
test.sample(5)

,id,msno,song_id,source_system_tab,source_screen_name,source_type
603814,603814,SJtscXjfBj8vwFEZbKj5x0zwalhjA7hhvHGf7gpRwvM=,THqGcrzQyUhBn1NI/+Iptc1vKtxBIEg0uA8iaoJnO1Q=,discover,Online playlist more,online-playlist
2036142,2036142,ARZyc93E/1ayWXj/gaF7876K8LykKCRef6rhRhX9Mm4=,EiFLcK/GQPfVBthGnSwyD9H1QN+7du0S7rom/L9E8TQ=,discover,Online playlist more,online-playlist
2303902,2303902,ePsbu1jFjDih6/+SLyPyLHuoGAG2P8qU0UFrH3A3vGU=,MdSq7Lj/cXeQAxe7ZkgFBKVLBDg2nF57aF5zQdLH4SY=,explore,Album more,album
937854,937854,cGNDgMUcy2qcw7zVbe228yC4LLfC28ByuwEGekzfX/A=,skhcy/AaD5OZkIlJw+j0H6D2v8hUqvlTSFwevDKZ1+g=,search,Album more,album
1357978,1357978,ZZTFw6BYLbFHbZn3jreAAAta6P69xbsuubIivNTWcxk=,Dg6qS7B4Yz96w4s2ApG79OG84kOARbbg+K+gxwFhnrs=,my library,Local playlist more,local-library

In [9]:
# Checking the null values
members.isnull().sum()

msno                          0
city                          0
bd                            0
gender                    19902
registered_via                0
registration_init_time        0
expiration_date               0
dtype: int64

In [10]:
submission.isnull().sum()

id        0
target    0
dtype: int64

In [11]:
songs_info.isnull().sum()

song_id         0
name            2
isrc       136548
dtype: int64

In [12]:
songs.isnull().sum()

song_id            0
song_length        0
genre_ids        346
artist_name        0
composer        8382
lyricist       14332
language           0
dtype: int64

In [13]:
train.isnull().sum()

msno                    0
song_id                 0
source_system_tab      67
source_screen_name    576
source_type            50
target                  0
dtype: int64

In [14]:
test.isnull().sum()

id                         0
msno                       0
song_id                    0
source_system_tab       8442
source_screen_name    162883
source_type             7297
dtype: int64

* members  
* submission
* songs_info
* songs 
* train 
* test

In [16]:
songs.shape

(20000, 7)

In [17]:
songs.isnull().mean()

song_id        0.0000
song_length    0.0000
genre_ids      0.0173
artist_name    0.0000
composer       0.4191
lyricist       0.7166
language       0.0000
dtype: float64

In [18]:
# Replacing the nan values with empty string for genre_ids, composer, and lyricist 
songs['genre_ids'].fillna(' ',inplace=True)
songs['composer'].fillna(' ',inplace=True)
songs['lyricist'].fillna(' ',inplace=True)

In [19]:
songs.isnull().sum()

song_id        0
song_length    0
genre_ids      0
artist_name    0
composer       0
lyricist       0
language       0
dtype: int64

In [20]:
# Droping some non-required columns from train data
train = train.drop(['source_system_tab','source_screen_name','source_type'],axis=1)
train.head()

,msno,song_id,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,1

In [21]:
# Renaming the column name 
train.rename(columns={'msno':'user_id'},inplace=True)
train.head()

,user_id,song_id,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,1

In [22]:
train.shape

(20000, 3)

### Basic Preprocessing

In [24]:
# Merging songs and train dataset
df = train.merge(songs, on='song_id')

In [25]:
# Dropping 'song_length','language' column
df=df.drop(['song_length','language'],axis=1)
df.head()

,user_id,song_id,target,genre_ids,artist_name,composer,lyricist
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,Desiigner,Sidney Selby| Adnan Khan,
1,hZyOA+0yqClPLt6uIEndf8fG8szH/95eKMbaxLE5z30=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,Desiigner,Sidney Selby| Adnan Khan,
2,0LhkakIQDn36HZXI6ClQSO7W7jkpZAy+9MvYgPOZGrA=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩
3,MofmAMt7P8LIcF4+LLlcjyIhYUzmv13L/LRwYFxiGYE=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩
4,U9Z+N+szYGJHTPMn/C0V7yIyIC24fDI0RDRWChXATkg=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩

In [26]:
# Merging the songs_info column
df = df.merge(songs_info, on='song_id').drop('isrc', axis=1)
df.head()

,user_id,song_id,target,genre_ids,artist_name,composer,lyricist,name
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,Desiigner,Sidney Selby| Adnan Khan,,Panda
1,hZyOA+0yqClPLt6uIEndf8fG8szH/95eKMbaxLE5z30=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,Desiigner,Sidney Selby| Adnan Khan,,Panda
2,0LhkakIQDn36HZXI6ClQSO7W7jkpZAy+9MvYgPOZGrA=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好
3,MofmAMt7P8LIcF4+LLlcjyIhYUzmv13L/LRwYFxiGYE=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好
4,U9Z+N+szYGJHTPMn/C0V7yIyIC24fDI0RDRWChXATkg=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩,我過的很好

In [27]:
# Renaming the columns
df.rename(columns={'name':'song_name'}, inplace=True)
df.head()

,user_id,song_id,target,genre_ids,artist_name,composer,lyricist,song_name
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,Desiigner,Sidney Selby| Adnan Khan,,Panda
1,hZyOA+0yqClPLt6uIEndf8fG8szH/95eKMbaxLE5z30=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,Desiigner,Sidney Selby| Adnan Khan,,Panda
2,0LhkakIQDn36HZXI6ClQSO7W7jkpZAy+9MvYgPOZGrA=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好
3,MofmAMt7P8LIcF4+LLlcjyIhYUzmv13L/LRwYFxiGYE=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好
4,U9Z+N+szYGJHTPMn/C0V7yIyIC24fDI0RDRWChXATkg=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩,我過的很好

In [28]:
# Number of vales in gener_ids
df['genre_ids'].value_counts()

465                    710
458                    400
444                     65
1609                    57
921                     49
359                     32
                        26
139                     24
2022                    21
1259                    20
2122                    13
139|125|109              7
726                      7
451                      7
437                      7
958                      6
786|947                  6
465|1259                 4
1011                     4
786                      4
947                      4
691                      3
921|465                  3
430                      3
921|458                  2
458|1287                 2
698                      2
444|1259                 2
829                      2
850                      2
1152                     1
880|458                  1
465|829                  1
864|857|850|843          1
465|798                  1
474                      1
864|850|726|857|843      1
388                      1
864|786|850|857|843      1
940                      1
1609|465                 1
465|2122                 1
423                      1
726|242                  1
437|850                  1
Name: genre_ids, dtype: int64

In [29]:
# Replacing this | symbol into empty string
df['genre_ids']=df['genre_ids'].str.replace('|',' ',regex=True)
df['genre_ids'].value_counts()

465                    710
458                    400
444                     65
1609                    57
921                     49
359                     32
                        26
139                     24
2022                    21
1259                    20
2122                    13
139 125 109              7
726                      7
451                      7
437                      7
958                      6
786 947                  6
465 1259                 4
1011                     4
786                      4
947                      4
691                      3
921 465                  3
430                      3
921 458                  2
458 1287                 2
698                      2
444 1259                 2
829                      2
850                      2
1152                     1
880 458                  1
465 829                  1
864 857 850 843          1
465 798                  1
474                      1
864 850 726 857 843      1
388                      1
864 786 850 857 843      1
940                      1
1609 465                 1
465 2122                 1
423                      1
726 242                  1
437 850                  1
Name: genre_ids, dtype: int64

In [30]:
# Replacing this | symbol from every column
df['artist_name'] = df['artist_name'].str.replace('|', ' ', regex=True)
df['artist_name'] = df['artist_name'].str.replace('/', ' ', regex=True)

df['composer'] = df['composer'].str.replace('|', ' ', regex=True)
df['composer'] = df['composer'].str.replace('/', ' ', regex=True)

df['lyricist'] = df['lyricist'].str.replace('|', ' ', regex=True)
df['lyricist'] = df['lyricist'].str.replace('/', ' ', regex=True)

#### Text Preprocessing

In [31]:
df['artist_name'] = df['artist_name'].str.lower()
df['composer'] = df['composer'].str.lower()
df['lyricist'] = df['lyricist'].str.lower()

In [32]:
df['songs_details'] = df['artist_name'] + '' + df['composer'] + df['lyricist']
df.head()

,user_id,song_id,target,genre_ids,artist_name,composer,lyricist,song_name,songs_details
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
1,hZyOA+0yqClPLt6uIEndf8fG8szH/95eKMbaxLE5z30=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
2,0LhkakIQDn36HZXI6ClQSO7W7jkpZAy+9MvYgPOZGrA=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
3,MofmAMt7P8LIcF4+LLlcjyIhYUzmv13L/LRwYFxiGYE=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
4,U9Z+N+szYGJHTPMn/C0V7yIyIC24fDI0RDRWChXATkg=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩

In [33]:
df.user_id.value_counts()

EozJegFxTFIWDb9aJ7O8kSUHAgx4ZIvqf7IuN5Zck50=    19
V5U4EGk2kaSKaUGSwhU6g3HBefxflEvAy1vWPu6UBQs=    18
Bwg9yS76qujJJeKsYSzfJrMlkjK5Ui7KFkgUcjuXRCg=    12
W9NYSCff57nmfyYCiX6IbW0/G3YuwC18h/rld+BGxMY=    11
UzlQoa9tdrcpYdh4wksoh+SpWCFcKvRGPA+xLNqghmo=    11
                                                ..
rb7TT328utsdnd8COyhstig0zciXIURo7M464E60EHg=     1
hSn7jMfIURFu+1W3PDIDTxbhM5SxRg9VFRoH23Rm2Ic=     1
yrMfQXudhDaA/bOePZtkKErbjZc5pALG79FHPayEy5U=     1
iP3eF1In0rH61CfgVmWVYj4CgFcQQ0iVZG7MBA+Plgo=     1
j2Sx5B7BrjqCiT3ZwWK4AvepwM14QEalhTPi2/sgdG4=     1
Name: user_id, Length: 975, dtype: int64

In [34]:
# Checking for duplicate values
df.duplicated().sum()

0

In [35]:
#Creating a copy file before performing similarity
temp_df = df.copy()
temp_df.head()

,user_id,song_id,target,genre_ids,artist_name,composer,lyricist,song_name,songs_details
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
1,hZyOA+0yqClPLt6uIEndf8fG8szH/95eKMbaxLE5z30=,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
2,0LhkakIQDn36HZXI6ClQSO7W7jkpZAy+9MvYgPOZGrA=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
3,MofmAMt7P8LIcF4+LLlcjyIhYUzmv13L/LRwYFxiGYE=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
4,U9Z+N+szYGJHTPMn/C0V7yIyIC24fDI0RDRWChXATkg=,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩

In [36]:
temp_df.songs_details.duplicated().sum()

889

In [37]:
temp_df.shape

(1509, 9)

In [38]:
temp_df.duplicated().sum()

0

In [ ]:
# Dropping the user_id column

In [39]:
temp_df = temp_df.drop('user_id', axis=1)

In [40]:
temp_df.head()

,song_id,target,genre_ids,artist_name,composer,lyricist,song_name,songs_details
0,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
1,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
2,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
3,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
4,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩

In [56]:
temp_df.tail()

,index,song_id,target,genre_ids,artist_name,composer,lyricist,song_name,songs_details
789,1504,gtenKB6Uz9z5MnC8GIvaDSyW+6m6JhmgRBoFc/Jin2U=,1,465,various artists,jung joonil,jung joonil,Fine Day,various artistsjung jooniljung joonil
790,1505,7kGd6s2v5YwI4fsESa10llGKkGE+V0QtWGhwiwNTPao=,1,465,郭靜 (claire kuo),木蘭號aka陳韋伶,木蘭號aka陳韋伶,我不是你的那首情歌,郭靜 (claire kuo)木蘭號aka陳韋伶木蘭號aka陳韋伶
791,1506,ceQpMUI3zi3wbvUuwa2gcOzzvCv6QoagUpKHU9dwJQU=,1,465,曾沛慈 (pets tseng),梁正,葛大為+梁正,這裡還有我,曾沛慈 (pets tseng)梁正葛大為+梁正
792,1507,Ny0HzjYum9lyotgPXzdRrcXhx20sFbpdSW68VRvtGfQ=,1,465,郭靜 (claire kuo),陳小霞,姚若龍,在樹上唱歌,郭靜 (claire kuo)陳小霞姚若龍
793,1508,NGGXOVTfxaeWP5FCG4FqEXThMN5oArLN3V6gG/XFBnY=,0,465,小樂 (吳思賢) (ben wu),秦洋,姚若龍,最大的缺點,小樂 (吳思賢) (ben wu)秦洋姚若龍

In [41]:
temp_df.duplicated().sum()

715

In [42]:
# Dropping the duplicate values

In [43]:
temp_df = temp_df.drop_duplicates()
temp_df.head()

,song_id,target,genre_ids,artist_name,composer,lyricist,song_name,songs_details
0,3Hg5kugV1S0wzEVLAEfqjIV5UHzb7bCrdBRQlGygLvU=,1,1259,desiigner,sidney selby adnan khan,,Panda,desiignersidney selby adnan khan
2,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,1,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
4,skehue/d/R59G71dXYpntDwdjRRPlweN3JE8g40TgZU=,0,458,莊心妍,鄭建浩,鄭建浩,我過的很好,莊心妍鄭建浩鄭建浩
21,reXuGcEWDDCnL0K3Th//3DFG4S1ACSpJMzA+CFipo1g=,1,458,周湯豪 (nickthereal),周湯豪,周湯豪\崔惟楷,帥到分手,周湯豪 (nickthereal)周湯豪周湯豪\崔惟楷
73,reXuGcEWDDCnL0K3Th//3DFG4S1ACSpJMzA+CFipo1g=,0,458,周湯豪 (nickthereal),周湯豪,周湯豪\崔惟楷,帥到分手,周湯豪 (nickthereal)周湯豪周湯豪\崔惟楷

In [44]:
temp_df.reset_index(inplace=True)

In [ ]:
# Using TFIDF for vectorization

In [45]:
tfidf = TfidfVectorizer(analyzer='word', stop_words='english')
tfidf_matrix = tfidf.fit_transform(temp_df['songs_details'])

In [46]:
tfidf_matrix

<794x1931 sparse matrix of type '<class 'numpy.float64'>'
	with 3533 stored elements in Compressed Sparse Row format>

In [47]:
temp_df.shape

(794, 9)

In [48]:
temp_df.reset_index(drop=True, inplace=True)

In [ ]:
# Now for the Recommendation we will use cosine similarity

In [49]:
cosine_similarity = cosine_similarity(tfidf_matrix)

In [50]:
cosine_similarity

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [53]:
sorted(list(enumerate(cosine_similarity[0])), reverse=True, key = lambda x:x[1])[1:6]

[(658, 0.23506799063654626),
 (78, 0.10869485994928993),
 (1, 0.0),
 (2, 0.0),
 (3, 0.0)]

In [59]:
# Creating a function to recommend song
def recommend_song(song):
    song_index = temp_df[temp_df['song_name'] == song].index[0]
    distances = cosine_similarity[song_index]
    song_list = sorted(list(enumerate(cosine_similarity[0])), reverse=True, key=lambda x:x[1])[1:6]
    for i in song_list:
        print(i[0])

In [60]:
# User based Recommendation

In [61]:
def recommend_song(song):
    song_index = temp_df[temp_df['song_name'] == song].index[0]
    distances = cosine_similarity[song_index]
    song_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:10]
    for i in song_list:
        print(temp_df.iloc[i[0]].song_name)

In [62]:
recommend_song('Fine Day')

太極拳Cypher (Tai Chi Fist Cypher)
布魯赫：第一號小提琴協奏曲/第二樂章：慢板 (Violin Concerto No. 1 in G Minor| Op. 26 - Adagio)
靠近一點點
mozart sonata in d major k448 (2 pianos) - 2nd movement mozart sonata in d major k448 (2 pianos) - 2nd movement
We Don't Talk Any More
胸口發熱 - SeeYa
Only Human
Know Better
ORIGINAL RESONANCE